name: Build native CLI archives

on:
  workflow_call:
    inputs:
      versionOverrideArg:
        required: false
        type: string

jobs:

  build_cli_archives:
    name: Build CLI (${{ matrix.targets.os }})
    runs-on: ${{ matrix.targets.os }}
    strategy:
      matrix:
        targets:
          - os: self-hosted
            rids: win-x64

    steps:
      - name: Checkout code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683  # v4.2.2

      - name: Build CLI packages (Windows)
        if: ${{ matrix.targets.os == 'self-hosted' }}
        shell: pwsh
        run: >
          "hello"