# Executes all the tests on all the platforms
name: Tests

on:
  workflow_call:
    inputs:
      versionOverrideArg:
        required: false
        type: string

jobs:
  # Duplicated jobs so their dependencies are not blocked on both the
  # setup jobs

  setup_for_tests_win:
    name: Setup for tests (Windows)
    runs-on: [self-hosted]
    outputs:
      integrations_tests_matrix: ${{ steps.generate_tests_matrix.outputs.integrations_tests_matrix }}
      templates_tests_matrix: ${{ steps.generate_tests_matrix.outputs.templates_tests_matrix }}
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - uses: ./.github/actions/enumerate-tests
        id: generate_tests_matrix
        with:
          includeIntegrations: true
          includeTemplates: true

  integrations_test_win:
    uses: ./.github/workflows/run-tests.yml
    name: Integrations Windows
    needs: setup_for_tests_win
    strategy:
      fail-fast: false
      matrix:
        ${{ fromJson(needs.setup_for_tests_win.outputs.integrations_tests_matrix) }}
    with:
      testShortName: ${{ matrix.shortname }}
      os: "self-hosted"
      extraTestArgs: "--filter-not-trait \"quarantined=true\" --filter-not-trait \"outerloop=true\""
      versionOverrideArg: ${{ inputs.versionOverrideArg }}
